body {
	font-family: Arial, sans-serif;}
.text1 {
	font-size: 50px;
	color: #E6E6FA ;
	padding-left: 150px;
}
.text2 {
	font-size: 30px;
	color: #E6E6FA ;
	padding-left: 150px;

}
.text3 {
	font-size: 30px;
	color: #E6E6FA ;
	padding-left: 150px;

}
.text4 {
	font-size: 25px;
	color: #E6E6FA ;
	padding-left: 175px;
}
